In [ ]:
#PYTHON STRING TUTORIAL

In [1]:
#Indexing
student_name="sodiq"
print(student_name[0],"<--the first letter")
print(student_name[1])
print(student_name[2],"<--the third letter")
print(student_name[3])
print(student_name[4],"<--the fifth letter")

s
o
d
i
q <--the first letter

In [4]:
#Combining with  Conditional Statement
student_name="Sodiq"
if student_name[0].lower()=='a':
    print('yes, name start with A:',student_name)
elif student_name[0].lower()=='s':
    print('yes, name start with S:', student_name)
else:
    print('non of the mention', student_name)

yes, name start with S: Sodiq

In [5]:
street_name="BISIOLU"
print(street_name[0],"<--first letter")
print(street_name[2],"<--third letter")
print(street_name[4],"<-- fifth letter")

B <--first letter
S <--third letter
O <-- fifth letter

In [8]:
team_name="LIVERPOOL"
if team_name[1].lower()=='i':
    print('the second letter is I:',team_name)
elif team_name[1].lower()=='o':
    print('the second letter is O:',team_name)
elif team_name[1].lower()=='u':
    print('the second letter is U:',team_name)
else:
    print('non of them is the second letter', team_name)

the second letter is I: LIVERPOOL

In [1]:
student_name="joana"
end_letter=student_name[-1]
print(student_name,"ends with","'"+end_letter+"'")

joana ends with 'a'

In [3]:
second_last_letter=student_name[-2]
print(student_name,"has second to the last letter of","'"+second_last_letter+"'")

joana has second to the last letter of 'n'

In [4]:
student_name="joana"
print("for",student_name)
print("index 3","'"+student_name[3]+"'")
print("index -2","'"+student_name[-2]+"'")

for joana
index 3 'n'
index -2 'n'

In [6]:
street_name="TANKE"
#print the last 3 characaters of the street_name
print(street_name[-3])
first_name="OLAYINKA"
#print the first and last letters of name
print("for",first_name)
print("the first letter is","'"+first_name[0]+"'","while the last letter is","'"+first_name[-1]+"'")

N
for OLAYINKA
the first letter is 'O' while the last letter is 'A'

In [8]:
#Review, Run, Fix the error using string index
shoe="tennis"
#print the last letter
#print(shoe(-1))
#correction
print(shoe[-1])

s

In [10]:
student_name="Colette"
#addressing the 3rd,4th and 5th characters using a slice
print("slice student_name[2:5]:", student_name[2:5])

slice student_name[2:5]: let

In [12]:
student_name="colette"
print("index 2,3 & 4 of student_name:",student_name[2]+student_name[3]+student_name[4])

index 2,3 & 4 of student_name: let

In [1]:
import os
directory=os.getcwd()
print(directory)

C:\Users\USER

In [7]:
long_word="Acknowledgement"
print(long_word[2:11])
print(long_word[2:11], "is the 3rd char through the 11th char")
print(long_word[2:11],"is the index 2,\""+long_word[2]+"\",","through index 10,\""+long_word[10]+"\"")

knowledge
knowledge is the 3rd char through the 11th char
knowledge is the index 2,"k", through index 10,"e"

In [21]:
#slice long_word to print"act" and to print "tic"
long_word="characteristics"
print(long_word[4:7])
print(long_word[-4:-1])
#slice long_word to print "sequence"
long_word="consequence"
print(long_word[3:])

act
tic
sequence

In [23]:
long_word="consequence"
print(long_word[:3])
print(long_word[3:])

con
sequence

In [26]:
student_name="Colette"
print(student_name[:])
print(student_name[::2])
print(student_name[1::2])
long_word="Consequence"
print(long_word[1:9:2])
long_word="Acknowledgement"
print(long_word[2::2])

Colette
Clte
oet
osqe
koldeet

In [2]:
long_word="characteristics"
print(long_word[::-1])
print(long_word[6::-1])
print(long_word[4::-1])
#task 6
long_word="timeline" 
print(long_word[0:4]) #first four letter
print(long_word[3::-1]) #first four letter in reverse
print(long_word[-1:-5:-1]) #last four letter in reverse
print(long_word[-2:-6:-1])

scitsiretcarahc
tcarahc
arahc
time
emit
enil
nile

In [22]:
word="trumpet"
for item in word:
    print(item)

t
r
u
m
p
e
t

In [27]:
student_name="Skye"
new_name=""
for ltr in student_name:
    if ltr.lower()=="y":
     new_name+=ltr.upper()
else:
    new_name+=ltr
    print(student_name,"to",new_name)

Skye to Ye

In [36]:
first_name="Sodiq"
#iterate through letters in first_name
for alpha in first_name:
    print(alpha)
first_name="olayinka"
new_name=""
for letters in first_name:
    if letters.lower()=="i":
        new_name+=letters.upper()
    elif letters.lower()=="o":
        new_name+=letters.upper()
    else:
        new_name+=letters
        print(first_name,"to", new_name)

S
o
d
i
q
olayinka to Ol
olayinka to Ola
olayinka to Olay
olayinka to OlayIn
olayinka to OlayInk
olayinka to OlayInka

In [37]:
fav_color="Blue"
print(fav_color[::-1]+fav_color)

eulBBlue

In [7]:
work_tip="save your code"
#number of character
print(len(work_tip), "\n")
#letter "o" occurence
print(work_tip.count("o"),"\n")
#find the index of the first space 
print(work_tip.find(""), "\n")
#find the index of "u" searching a slice work_tip[3:9
print(work_tip.find("u",3,9),"\n")

14

2

0

7

In [10]:
#len()- returns a strings length
work_tip="good code is commented code"
print ("The sentence:\""+work_tip+"\" has a character length=",len(work_tip))
#find the middle index
work_tip="good code is commented code"
mid_pt=int(len(work_tip)/2)
#print the first half of the sentence
print(work_tip[:mid_pt])

The sentence:"good code is commented code" has a character length= 27
good code is

In [11]:
#.count()
work_tip="good code is commented code"
print(work_tip)
print("how many w's?", work_tip.count("w"))
print("how many o's?",work_tip.count("o"))
print("uses 'code', how many times?", work_tip.count("code"))
print(work_tip[:mid_pt])
print("# o's in first half")
print(work_tip[mid_pt].count("o"))
print(work_tip[mid_pt:])
print("# o's in second half")
print(work_tip[mid_pt:].count("o"))

good code is commented code
how many w's? 0
how many o's? 5
uses 'code', how many times? 2
good code is
# o's in first half
0
commented code
# o's in second half
2

In [13]:
#find()
work_tip="good code has meaningful variable names"
print(work_tip)
#index where first instance of "code" starts
code_here=work_tip.find("code")
print(code_here,'=starting index for "code"')
#set start index13 and end index 33
print('search for "meaning" in the sub-string:',work_tip[13:33],"\n")
meaning_here= work_tip.find("meaning",13,33)
print('"meaning" found in work_tip[13:33] sub-string search at index',meaning_here)

good code has meaningful variable names
5 =starting index for "code"
search for "meaning" in the sub-string:  meaningful variable

"meaning" found in work_tip[13:33] sub-string search at index 14

In [35]:
#task 1
#use len() to find the midpoint of the string
#print the halves on seperate lines
random_tip="wear a hat when it rains"
print(len(random_tip))
mid_pt=int(len(random_tip)/2)
print("the mid-point of the statement 'wear a hat when it rains' is at index", mid_pt)
first_halve=random_tip[:mid_pt]
second_halve=random_tip[mid_pt:]
print(first_halve,"\n",second_halve)
#task 2
#for letters:"e" and "a" in random-tip
#print letter counts
#print which letter is most frequent
random_tip= "wear a hat when it rains"
count_e=random_tip.count("e")
count_a=random_tip.count("a")
print(count_e, "\n",count_a)
if count_e > count_a:
    print("Letter 'e' is most frequent", count_e)
else:
    print("Letter 'a' is most frequent", count_a)
#task 3
#print long_word from the location of the first and second 't'
long_word="juxtaposition"
print(long_word[long_word.find("t"):long_word.find("i",-3,)])

24
the mid-point of the statement 'wear a hat when it rains' is at index 12
wear a hat w
 hen it rains
2
 4
Letter 'a' is most frequent 4
taposit

In [8]:
#task1
planet_name="Jupiter"
print(planet_name[1])
print(planet_name[0])
print("The first letter is",planet_name[0]," while the last letter is", planet_name[-1])
print(planet_name[-7])
#task 2
planet_name="Neptune"
print("the first three character is", planet_name[:3],"while the remaining is", planet_name[3:])
wise_word="Play it who opens"
print(wise_word[::2])
print(planet_name[::-1])
fav_food="Indomie"
for letter in fav_food:
    print(letter)
work_tip="Good code is commented code"
new_string="-"
for letter in work_tip:
    print(letter+new_string)
name="Hiroto"
for alpha in name[:4]:
    print(alpha)

u
J
The first letter is J  while the last letter is r
J
the first three character is Nep while the remaining is tune
Pa twooes
enutpeN
I
n
d
o
m
i
e
G-
o-
o-
d-
 -
c-
o-
d-
e-
 -
i-
s-
 -
c-
o-
m-
m-
e-
n-
t-
e-
d-
 -
c-
o-
d-
e-
H
i
r
o

In [3]:
#task 4
first_name="Akogun"
new_name=""
back_name= (first_name[::-1])
for letter in back_name:
    if letter.lower()=="e":
        print("?")
    elif letter.lower()=="o":
        print("?")
    else:
        print(new_name+letter)

n
u
g
?
k
A

In [5]:
qoute= "Wheresover you go, go with ur heart"
word=""
for character in qoute:
    if qoute[0].lower()>="h":
        print(word+character)
    elif qoute[11].lower()>="h":
        print(word+character)
    elif qoute[15].lower()>="h":
        print(word+character)
    elif qoute[19].lower()>="h":
        print(word+character)
    elif qoute[22].lower()>="h":
        print(word+character)
    elif qoute[27].lower()>="h":
        print(word+character)
    elif qoute[30].lower()>="h":
        print(word+character)
    else:
        print(word)

W
h
e
r
e
s
o
v
e
r

y
o
u

g
o
,

g
o

w
i
t
h

u
r

h
e
a
r
t

In [2]:
#list
#a simple list contains comma seperated objects enclosed in square brackets
ft_bones=["calcaneus", "talus", "cuboid","navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
#display
print("ft_bones:",type(ft_bones))
print(ft_bones)
#define list of integers
age_survey=[12,14,12,29,12,14,12,12,13,12,14,13,13,46,13,12,12,13,13,12,12]
print("age_survey:",type(age_survey))
print(age_survey)
#define list of mixed data type
mixed_list=[1,34,0.999,"dog","cat",ft_bones,age_survey]
print("mixed_list:",type(mixed_list))
print(mixed_list)

ft_bones: <class 'list'>
['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
age_survey: <class 'list'>
[12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]
mixed_list: <class 'list'>
[1, 34, 0.999, 'dog', 'cat', ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform'], [12, 14, 12, 29, 12, 14, 12, 12, 13, 12, 14, 13, 13, 46, 13, 12, 12, 13, 13, 12, 12]]

In [3]:
#task1
#create team_names list and populate with 3-5 team name strings
#print the list
team_names=["chelsea","Barcelona","Arsenal","Liverpool","PSG"]
print(team_names)
#create a list mix_list with numbers and strings with 4-6 items
#print the list
mix_list=[1,3.56, "apple",team_names]
print(mix_list)

['chelsea', 'Barcelona', 'Arsenal', 'Liverpool', 'PSG']
[1, 3.56, 'apple', ['chelsea', 'Barcelona', 'Arsenal', 'Liverpool', 'PSG']]

In [11]:
#task 2: List access
Street=["Bisiolu", "Ademola","iledu","Adeyemi","Prophet Adebayo"]
print("No Parking on", Street[0],"and", Street[4])
number=[1,2,3,4,5,6,7,8,9,10,11]
num_to_add=(number[0]+number[3]+number[4]+number[7]+number[9])
print(num_to_add)
pay_checks=[1,2,3,4,5,6]
print("Total of checks 3&4= $",pay_checks[2]+pay_checks[3])

No Parking on Bisiolu and Prophet Adebayo
28
Total of checks 3&4= $ 7

In [13]:
sample_list=[1,1,2]
print("sample_list before:",sample_list)
sample_list.append(3)
#list after append
print("sample_list after:", sample_list)

sample_list before: [1, 1, 2]
sample_list after: [1, 1, 2, 3]

In [ ]:
cur_values=[2.1,3.4,5.2]
print(cur_values)
cur_values.append(2.7)
print(cur_values)
cur_names=["naira", "dollar","euro"]
print(cur_names)
cur_names.append("shillings")
print(cur_names)
cur_names.append(input())
print(cur_names)

[2.1, 3.4, 5.2]
[2.1, 3.4, 5.2, 2.7]
['naira', 'dollar', 'euro']
['naira', 'dollar', 'euro', 'shillings']

In [1]:
#while loop
bday_survey=[]
bday=input("Enter Birth day or 'q' to QUIT:  ")
while bday.lower() !="q":
    bday_survey.append(bday)
    bday=input("Birth month in word:  ")
    bday_survey.append(bday)
    print("your birth day and month is", bday_survey)
    bday=input("press 'q' to quit:   ")
print("THANKS FOR PARTICIPATING")

Enter Birth day or 'q' to QUIT:  12
Birth month in word:  january
your birth day and month is ['12', 'january']
press 'q' to quit:   q
THANKS FOR PARTICIPATING

In [3]:
#replace a value #insert
party_list=["Joana", "Alton","Tobias"]
print("party_list before:", party_list)
party_list[1]="Colette"
print("party_list after:",party_list)
party_list=["Joana", "Alton","Tobias"]
party_list[1]=party_list[1]+"Derosa"
print("\nafter:",party_list)

party_list before: ['Joana', 'Alton', 'Tobias']
party_list after: ['Joana', 'Colette', 'Tobias']

after: ['Joana', 'AltonDerosa', 'Tobias']

In [10]:
single_digit=["zero","one","two","three","four","five"]
print(single_digit)
print("single_digit[3]:",single_digit[3])
type(single_digit[3])
single_digit[3]=3
print(single_digit)
print("single_digit[3]:",single_digit)
type(single_digit[3])

['zero', 'one', 'two', 'three', 'four', 'five']
single_digit[3]: three
['zero', 'one', 'two', 3, 'four', 'five']
single_digit[3]: ['zero', 'one', 'two', 3, 'four', 'five']

int

In [17]:
#task 1
three_num=[2,4,6]
print("the three numbers are:", three_num)
if three_num[0] < 5:
    three_num[0]="small"
else:
    three_num[0]="large"
print(three_num)

the three numbers are: [2, 4, 6]
['small', 4, 6]

In [21]:
#.pop()
party_list=["Joana","Alton","Tobias"]
print(party_list)
print("Hello,",party_list.pop())
print("\n",party_list)
print("Hello,",party_list.pop())
print("\n",party_list)
print("Hello,",party_list.pop())
print("\n",party_list)

number_list=[11,21,13,14,51,161,117,181]
print("before:",number_list)
number_list.pop(3)
print("after:",number_list)
number_list=[11,21,13,14,51,161,117,181]
print("list before:",number_list)
num_1=number_list.pop()
num_2=number_list.pop()
print("list after:",number_list)
print("add the popped values:", num_1,"+",num_2,"=",num_1+num_2)
ft_bones=["calcaneus", "talus", "cuboid","navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
print("list of bones before:",ft_bones)
first_bone=ft_bones.pop(0)
last_bone=ft_bones.pop()
print("list of bones after:",ft_bones)
print("First bone:", first_bone)
print("last bone:", last_bone)

['Joana', 'Alton', 'Tobias']
Hello, Tobias

 ['Joana', 'Alton']
Hello, Alton

 ['Joana']
Hello, Joana

 []
before: [11, 21, 13, 14, 51, 161, 117, 181]
after: [11, 21, 13, 51, 161, 117, 181]
list before: [11, 21, 13, 14, 51, 161, 117, 181]
list after: [11, 21, 13, 14, 51, 161]
add the popped values: 181 + 117 = 298
list of bones before: ['calcaneus', 'talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']
list of bones after: ['talus', 'cuboid', 'navicular', 'lateral cuneiform', 'intermediate cuneiform']
First bone: calcaneus
last bone: medial cuneiform

In [23]:
#an empty list is false
dog_types=["Lab","Pug","Poodle"]
while dog_types:
    print(dog_types.pop())

Poodle
Pug
Lab

In [1]:
#task 4
purchase_amounts=[]
price_item=input("Price of purchased goods:  ")
while price_item.lower() != "done":
    purchase_amounts.append(price_item)
    price_item=input("Enter next:  ")
print("thanks for recording")
print("The purchased amount is given by in $:", purchase_amounts)
subtotal=0
while purchase_amounts !=[]:
    subtotal=subtotal+float(purchase_amounts.pop())
    print(subtotal)
print("subtotal=  ",subtotal)

Price of purchased goods:  20
Enter next:  30
Enter next:  50
Enter next:  40
Enter next:  23
Enter next:  43
Enter next:  21
Enter next:  54
Enter next:  32
Enter next:  done
thanks for recording
The purchased amount is given by in $: ['20', '30', '50', '40', '23', '43', '21', '54', '32']
32.0
86.0
107.0
150.0
173.0
213.0
263.0
293.0
313.0
subtotal=   313.0

In [4]:
purchase_amount=[20,30,40,25,35]
subtotal=0
while purchase_amount !=[]:
    subtotal=subtotal+float(purchase_amount.pop())
    print(subtotal)
print("subtotal=  ",subtotal)

35.0
60.0
100.0
130.0
150.0
subtotal=   150.0

In [2]:
#remove()
dog_types=["lab","pug","Poodle"]
if "pug" in dog_types:
    dog_types.remove("pug")
else:
    print("no pug found")
print(dog_types)
#task
dogs=["lab","pug", "poodle","poodle","pug","poodle"]
print("list of dog before:", dogs)
dogs.remove("poodle")
print("list of dog after:", dogs)

['lab', 'Poodle']
list of dog before: ['lab', 'pug', 'poodle', 'poodle', 'pug', 'poodle']
list of dog after: ['lab', 'pug', 'poodle', 'pug', 'poodle']

In [17]:
#practice
days_of_week= ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
print(days_of_week)
print("index 1:", days_of_week[1])
print("index 3:", days_of_week[3])
print("index 5:", days_of_week[5])
phone_letters=["",'','ABC', 'DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
print(phone_letters)

#Access list
days_of_week= ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
day=days_of_week[2]
print("day assigned: ",day)

#PART 2
days_of_week= ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
day=days_of_week[5]
print("day with index 5 assigned: ",day)

#Append and Insert items into a list
days_of_week= ["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
days_of_week.append("Endsday")
print(days_of_week)

#What happens if you keep running the cell above
print("'new day' keep appending and index keep increasing")

#How can you return to the initial stage of days of week
print("either by removing using the 'for' loop or using the '.pop()' with while loop")

days_of_week.insert(4,"Midsday")
print(days_of_week)

days_of_week.insert(7,"Resterday")
print(days_of_week)

#Delete from a list
days_of_week.pop()
print(days_of_week)

#delete the new day added in the middle
del days_of_week[4]
print(days_of_week)

#programmers choice
days_of_week.pop(6)
print(days_of_week)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']
index 1: monday
index 3: wednesday
index 5: friday
['', '', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
day assigned:  tuesday
day with index 5 assigned:  friday
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'Endsday']
'new day' keep appending and index keep increasing
either by removing using the 'for' loop or using the '.pop()' with while loop
['sunday', 'monday', 'tuesday', 'wednesday', 'Midsday', 'thursday', 'friday', 'saturday', 'Endsday']
['sunday', 'monday', 'tuesday', 'wednesday', 'Midsday', 'thursday', 'friday', 'Resterday', 'saturday', 'Endsday']
['sunday', 'monday', 'tuesday', 'wednesday', 'Midsday', 'thursday', 'friday', 'Resterday', 'saturday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'Resterday', 'saturday']
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [3]:
letter=[]
phone_letters=["",'','ABC', 'DEF','GHI','JKL','MNO','PQRS','TUV','WXYZ']
print(phone_letters)

def let_to_num():
    while True:
        key=input("\n Enter your phone dial pad\n")
        for key in phone_letters[key]:
            break
            if int(key) < 0 or int(key) > 9:
                print('invalid parameter')
            else:
                letter=phone_letter[key]
                key=key + 1
                print(letter)
print("quit")

let_to_num()

['', '', 'ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
quit

 Enter your phone dial pad
1

TypeError: 'builtin_function_or_method' object is not subscriptable

In [36]:
#for/in
sales=[6,8,9,11,12,17,19,20,22]
total=0
for sale in sales:
    total+=sale
print("total sales:",total)
#task 1
birds=["duck","bat","eagle","fowl","vulture"]
for bird in birds:
    print(bird)
player_points=[2,3,5,6,4,8,7]
double=[]
for point in player_points:
    double_point=2*point
    double.append(double_point)
print("double point:",double)
birds=["duck","bat","eagle","fowl","vulture"]
Long_string=[]
for bird in birds:
    lng_string= bird+bird
    Long_string.append(lng_string)
print("Long_String:",Long_string)

total sales: 124
duck
bat
eagle
fowl
vulture
double point: [4, 6, 10, 12, 8, 16, 14]
Long_String: ['duckduck', 'batbat', 'eagleeagle', 'fowlfowl', 'vulturevulture']

In [39]:
#sort and filter
foot_bones=["calcaneus", "talus", "cuboid","navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
longer_names=""
shorter_names=""
for bone_name in foot_bones:
    if len(bone_name)<10:
        shorter_names+="\n"+bone_name
    else:
        longer_names+="\n"+bone_name
print(shorter_names)
print(longer_names)
foot_bones=["calcaneus", "talus", "cuboid","navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]
longer_names=[]
shorter_names=[]
for bone_name in foot_bones:
    if len(bone_name)<10:
        shorter_names.append(bone_name)
    else:
        longer_names.append(bone_name)
print(shorter_names)
print(longer_names)

calcaneus
talus
cuboid
navicular

lateral cuneiform
intermediate cuneiform
medial cuneiform
['calcaneus', 'talus', 'cuboid', 'navicular']
['lateral cuneiform', 'intermediate cuneiform', 'medial cuneiform']

In [41]:
#task 2
cities=["New York","Shanghai","Munich","Tokyo","Dubai","Mexico City","Sao Paulo","Hyderabad"]
a_city=[]
no_a_city=[]
for city in cities:
    if "a" in city:
        a_city.append(city)
    else:
        no_a_city.append(city)
print("The following city contains 'a' in them:",a_city)
print("The following city does not contain 'a' in them:",no_a_city)

The following city contains 'a' in them: ['Shanghai', 'Dubai', 'Sao Paulo', 'Hyderabad']
The following city does not contain 'a' in them: ['New York', 'Munich', 'Tokyo', 'Mexico City']

In [43]:
#counting and searching
cities=["New York","Shanghai","Munich","Tokyo","Dubai","Mexico City","Sao Paulo","Hyderabad"]
search_letter="a"
total=0
for city_name in cities:
    total+=city_name.lower().count(search_letter)
print("The total # of \""+search_letter+"\" found in the list is",total)

The total # of "a" found in the list is 7

In [45]:
#city_search function has a default list of cities to search
def city_search(search_item,cities=["New York","Shanghai","Munich","Tokyo"]):
    for city in cities:
        if city.lower()==search_item.lower():
            return True
        else:
            pass
    return False
visited_cities=["New York","Shanghai","Munich","Tokyo","Dubai","Mexico City","Sao Paulo","Hyderabad"]
search=input("enter a city visited:")
#search the default cities visited
print(search, "in default  cities is",city_search(search))

#search the list visited_cities using 2nd arg
print(search,"in visited_cities list is",city_search(search,visited_cities))

enter a city visited:dubai
dubai in default  cities is False
dubai in visited_cities list is True

In [94]:
#task 3
paint_colors=["Red","Blue","Green","Brown","Yellow"]
color_request=input("Request a color:")

col_not_found="status of color not found"
for color in paint_colors:
    if color_request.lower() == color.lower():
        print("status of color found")
        break
    else:
        print("status of color not found")
print(color_request)

Request a color:blue
status of color not found
status of color found
blue

In [ ]:
def foot_bones(bone_answer, ft_bones=["calcaneus", "talus", "cuboid","navicular", "lateral cuneiform","intermediate cuneiform", "medial cuneiform"]):
    for bone in ft_bones:
            if bone.lower() == bone_answer.lower():
                print("correct")
            else:
                pass
            print("not correct")
answer=input("identify a foot bone:")
ft_boness=ft_bones.remove(answer)
print(answer,"in first attempt:  ",foot_bones(answer))
print(answer,"in second attempt:  ",foot_bones(answer,ft_boness))

In [35]:
#range(stop)
for count in range(10):
    print(count)
digits=range(10)
print("digits=",list(digits),"\n")
sub_total=0
for item in range(10):
    sub_total+=item
    print("sub_total:",sub_total)
print("Total=",sub_total)

spell_list=["Tuesday","Wednesday","February","November","Annual","Calender","Solstice"]
half_1=int(len(spell_list)/2)
spell_list_2=spell_list[half_1:]
half_2=len(spell_list_2)
for word in range(half_1):
    print(spell_list[word])

for word in range(half_2):
    print(spell_list_2[word])

0
1
2
3
4
5
6
7
8
9
digits= [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

sub_total: 0
sub_total: 1
sub_total: 3
sub_total: 6
sub_total: 10
sub_total: 15
sub_total: 21
sub_total: 28
sub_total: 36
sub_total: 45
Total= 45
Tuesday
Wednesday
February
November
Annual
Calender
Solstice

In [30]:
#task 1
x=6
digit=range(x)
print("digit of x:",list(digit))
print("solving gamma interger")
x=input("enter the number:")
digit=range(int(x))
prod=1
digit_to_mult=digit[1:]
for value in digit_to_mult:
    prod*=value
print("value of x:", list(digit_to_mult),"\n")
print("gamma of x=  ",prod, "\n")

digit of x: [0, 1, 2, 3, 4, 5]
solving gamma interger
enter the number:6
value of x: [1, 2, 3, 4, 5]

gamma of x=   120

In [37]:
#range(start, stop)
for count in range(5,10):
    print(count)
sub_total=0
temp=0
for item in range(5,11):
    temp=sub_total
    sub_total+=item
    print("sub_total:",temp, "+", item, "=",sub_total)
print("Total=",sub_total)

5
6
7
8
9
sub_total: 0 + 5 = 5
sub_total: 5 + 6 = 11
sub_total: 11 + 7 = 18
sub_total: 18 + 8 = 26
sub_total: 26 + 9 = 35
sub_total: 35 + 10 = 45
Total= 45

In [38]:
spell_list=["Tuesday","Wednesday","February","November","Annual","Calender","Solstice"]
spell_len=len(spell_list)
half_1=int(spell_len/2)
for word in range(half_1,spell_len):
    print(spell_list[word])

November
Annual
Calender
Solstice

In [4]:
#task 2
five_fifteen=[]
for number in range(5,16):
    five_fifteen.append(number)
print("Five to Fifteen:",list(five_fifteen))

Five to Fifteen: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [5]:
for count in range(10,101,10):
    print(count)
for count in range(25,101,25):
    print(count)
sub_total=0
temp=0
for item in range(25,46,5):
    temp=sub_total
    sub_total+=item
    print("sub_total:{temp} + {item}={sub_total}")
spell_list=["Tuesday","Wednesday","February","November","Annual","Calender","Solstice"]
for index in range(0,len(spell_list),2):
    print(spell_list[index]

SyntaxError: unexpected EOF while parsing (2556664752.py, line 14)

In [35]:
for number in range(10,21,2):
    print(number)
for item in range(20,9,-2):
    print(item)
spell_list=["Tuesday","Wednesday","February","November","Annual","Calender","Solstice"]
for index in range(0,len(spell_list),3):
    print(spell_list[index])
#task 4
word=input("word:")
word_len=int(len(word))
odd_letter=[]
even_letter=[]
for letter in range(0,word_len,2):
    odd_letter.append(word[letter])
for letter in range(1,word_len,2):
    even_letter.append(word[letter])
print("odd_letter in \""+word+"\" are:", odd_letter)
print("even_letter in \""+word+"\" are:", even_letter)

10
12
14
16
18
20
20
18
16
14
12
10
Tuesday
November
Solstice
word:complexity
odd_letter in "complexity" are: ['c', 'm', 'l', 'x', 't']
even_letter in "complexity" are: ['o', 'p', 'e', 'i', 'y']

In [43]:
#"+" list addition
#.extend()
visited_cities=["New York","Shanghai","Munich","Tokyo","Dubai","Mexico City","Sao Paulo","Hyderabad"]
wish_cities=["Reykjavik","Moscow","Beijing","Lamu"]
all_cities=visited_cities+wish_cities
print("All Cities: ",all_cities)
visited_cities.extend(wish_cities)
print("All Cities: ",visited_cities)
team_A=[0,2,2,2,4,4,4,5,6,6,6]
team_B=[0,0,0,1,1,2,3,3,3,6,8]
print("Team A:",team_A,"\nTeam B:",team_B)
team_totals= team_A + team_B
print("Team Totals",team_totals)
team_A.extend(team_B)
print("Team_A extended",team_A)
#task 4
common_birds=["chicken","blue jay","crow","pigeon"]
birds_seen=["eagle","hawk","bat"]
common_birds.extend(birds_seen)
print("common_birds extended by birds seen:", common_birds)
zero_nine=list(range(0,10))
ten_onehundred=list(range(10,101,10))
all_num=zero_nine+ten_onehundred
print("all number:",all_num)

All Cities:  ['New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad', 'Reykjavik', 'Moscow', 'Beijing', 'Lamu']
All Cities:  ['New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad', 'Reykjavik', 'Moscow', 'Beijing', 'Lamu']
Team A: [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6]
Team B: [0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team Totals [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
Team_A extended [0, 2, 2, 2, 4, 4, 4, 5, 6, 6, 6, 0, 0, 0, 1, 1, 2, 3, 3, 3, 6, 8]
common_birds extended by birds seen: ['chicken', 'blue jay', 'crow', 'pigeon', 'eagle', 'hawk', 'bat']
all number: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [6]:
#reverse()
cities_1=["Dubai","Mexico City","Sao Paulo","Hyderabad"]
print("regular",cities_1)
cities_1.reverse()
print("reverse",cities_1)
all_num=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print("regular list",all_num,"\n")
all_num.reverse()
print("reverse list",all_num,"\n")
num_len=len(all_num)
print("Three Multiple")
for num in all_num:
    if num/3==int(num/3):
        print(num)
    else:
        pass
count_list=list(range(21))
print("before list",count_list)
count_list.reverse()
print("after list",count_list)
multiple_five=list(range(5,101,5))
print("multiple of 5:",multiple_five)
multiple_five.reverse()
print("multiple of 5 in descending order from 100:",multiple_five)
fours=list(range(4,45,4))
more_fours=list(range(4,45,4))
fours.reverse()
fours.extend(more_fours)
print(fours)

regular ['Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad']
reverse ['Hyderabad', 'Sao Paulo', 'Mexico City', 'Dubai']
regular list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

reverse list [100, 90, 80, 70, 60, 50, 40, 30, 20, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Three Multiple
90
60
30
9
6
3
0
before list [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
after list [20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
multiple of 5: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
multiple of 5 in descending order from 100: [100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]
[44, 40, 36, 32, 28, 24, 20, 16, 12, 8, 4, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44]

In [12]:
#.Sort() and sorted()
quiz_scores=[20,19,20,15,20,20,20,18,18,18,19]
quiz_scores.sort()
game_points=[3,14,0,8,21,1,3,8]
sorted_points=sorted(game_points)
print("quiz_scores:",quiz_scores)
print("game_points:",game_points)
print("sorted_points:",sorted_points)
cities_1=["Dubai","Mexico City","Sao Paulo","Hyderabad"]
print("Unsorted:",cities_1)
cities_1.sort()
print("Sorted",cities_1)
#task 3
visited_cities=["New York","Shanghai","Munich","Tokyo","Dubai","Mexico City","Sao Paulo","Hyderabad"]
sorted_cities=sorted(visited_cities)
for city in sorted_cities:
    if len(city) <= 5:
        sorted_cities.remove(city)
    else:
        pass
print("visited cities:",visited_cities)
print("sorted cites:",sorted_cities)

quiz_scores: [15, 18, 18, 18, 19, 19, 20, 20, 20, 20, 20]
game_points: [3, 14, 0, 8, 21, 1, 3, 8]
sorted_points: [0, 1, 3, 3, 8, 8, 14, 21]
Unsorted: ['Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad']
Sorted ['Dubai', 'Hyderabad', 'Mexico City', 'Sao Paulo']
visited cities: ['New York', 'Shanghai', 'Munich', 'Tokyo', 'Dubai', 'Mexico City', 'Sao Paulo', 'Hyderabad']
sorted cites: ['Hyderabad', 'Mexico City', 'Munich', 'New York', 'Sao Paulo', 'Shanghai']

In [2]:
#task 4
add_animals=[]
print("Participate in the survey or Double Tap 'Enter' to Quit")
input_animals=input("Enter the animal you know:\n")
while input_animals != "":
    add_animals.append(input_animals)
    input_animals=input()
print("Thanks")
animals=["Chimpanzee","Panther","Wolf","Armadillo"]
animals.extend(add_animals)
print("animals:",animals)
animals.reverse()
print("list in reverse form:",animals)
animals.sort()
print("Sorted animals list:",animals)

Participate in the survey or Double Tap 'Enter' to Quit
Enter the animal you know:
Cat
Dog
Fish
Chicken

Thanks
animals: ['Chimpanzee', 'Panther', 'Wolf', 'Armadillo', 'Cat', 'Dog', 'Fish', 'Chicken']
list in reverse form: ['Chicken', 'Fish', 'Dog', 'Cat', 'Armadillo', 'Wolf', 'Panther', 'Chimpanzee']
Sorted animals list: ['Armadillo', 'Cat', 'Chicken', 'Chimpanzee', 'Dog', 'Fish', 'Panther', 'Wolf']

In [10]:
#.split()
tip="Notebooks can be exported as .pdf"
tip_words=tip.split()
for word in tip.split():
    print(word)
print("STRING:",tip)
print("LIST:",tip_words,"\n")
rhyme="London bridge is falling down"
rhyme_words=rhyme.split()
rhyme_words.reverse()
for word in rhyme_words:
    print(word)
    
#task 1
rhyme='Jack and Jill went up the hill To fetch a pail of water'
rhyme_words=rhyme.split()
for word in rhyme_words:
    print(word)
    
code_tip="Python uses spaces for indentation"
code_word=code_tip.split()
print(code_word[0:len(code_word):2])

Notebooks
can
be
exported
as
.pdf
STRING: Notebooks can be exported as .pdf
LIST: ['Notebooks', 'can', 'be', 'exported', 'as', '.pdf']

down
falling
is
bridge
London
Jack
and
Jill
went
up
the
hill
To
fetch
a
pail
of
water
['Python', 'spaces', 'indentation']

In [7]:
#split('-')
code_tip="Python-uses-spaces-for-indentation"
tip_words=code_tip.split('-')
print(tip_words)

code_tip="Python uses spaces for indentation"
tip_words=code_tip.split('a')
print(code_tip)
print(tip_words)
#triple_qoutes
big_qoute="""Jack and Jill went up the hill
To fetch a pale of water
Jack fell down and broke his crown
And Jill came tumbling after"""
qoute_lines=big_qoute.split('\n')
print(qoute_lines,'\n')
for line in qoute_lines[::-1]:
    print(line)
#task 2
poem="Write code frequently*Save code frequently*Comment code frequently*Study code frequently*"
poem_word=poem.split('*')
print(poem_word,'\n')
for line in poem_word:
    print(line.upper())

['Python', 'uses', 'spaces', 'for', 'indentation']
Python uses spaces for indentation
['Python uses sp', 'ces for indent', 'tion']
['Jack and Jill went up the hill', 'To fetch a pale of water', 'Jack fell down and broke his crown', 'And Jill came tumbling after']

And Jill came tumbling after
Jack fell down and broke his crown
To fetch a pale of water
Jack and Jill went up the hill
['Write code frequently', 'Save code frequently', 'Comment code frequently', 'Study code frequently', '']

WRITE CODE FREQUENTLY
SAVE CODE FREQUENTLY
COMMENT CODE FREQUENTLY
STUDY CODE FREQUENTLY

In [11]:
#.join()
tip_words=['Notebooks','can','be','exported','as','.pdf']
print("".join(tip_words))
no_space=""
letters=["P","y","t","h","o","n"]
print(no_space.join(letters))
#task3
letters=["A","s","t","e","r","i","s","k"]
print("*".join(letters))

Notebookscanbeexportedas.pdf
Python
A*s*t*e*r*i*s*k

In [2]:
separator=input("Select the separator you would like to use,'""',*,-:\n")
phrase_words=['Jack','and','Jill','went','up','the','hill','To','fetch','a','pail','of','water']
print(phrase_words)
print(separator.join(phrase_words))

Select the separator you would like to use,'',*,-:
*
['Jack', 'and', 'Jill', 'went', 'up', 'the', 'hill', 'To', 'fetch', 'a', 'pail', 'of', 'water']
Jack*and*Jill*went*up*the*hill*To*fetch*a*pail*of*water

In [41]:
#cast string to list and (end=)
hello_letters=list("Hello")
print(hello_letters)
word_letters=list("concatenates")
print(word_letters)
print('-'.join(word_letters))
print("Hello",end='')
print("world")
print("Hello World",end="\n")
print('still something to learn about print()')
word="Concatenation"
for letter in word:
    print(letter,end='*')
fact="Always test your code"
print("\n",fact)
fact_letter=list(fact)
for letters in fact_letter:
    print(letters)

['H', 'e', 'l', 'l', 'o']
['c', 'o', 'n', 'c', 'a', 't', 'e', 'n', 'a', 't', 'e', 's']
c-o-n-c-a-t-e-n-a-t-e-s
Helloworld
Hello World
still something to learn about print()
C*o*n*c*a*t*e*n*a*t*i*o*n*
 Always test your code
A
l
w
a
y
s

t
e
s
t

y
o
u
r

c
o
d
e
['1', '2', '3', '4', '5', '6', '2', '7', '8', '3', '8', '1', '2', '8', '3', '6', '9', '7', '3']

In [62]:
digit_20="1234562783812836973"
digit_list=list(digit_20)
print(digit_list)
digit= [int(number) for number in digit_list]
digit_sum= sum(digit)
print("+".join(digit_list),"=", digit_sum)

['1', '2', '3', '4', '5', '6', '2', '7', '8', '3', '8', '1', '2', '8', '3', '6', '9', '7', '3']
1+2+3+4+5+6+2+7+8+3+8+1+2+8+3+6+9+7+3 = 88

In [6]:
#Text
matter_states=['solid','liquid','gas','plasma']
for state in matter_states:
    print(state,"-is state of matter")
birds=["turkey","hawk","chicken","dove","crow"]
print("All birds:",birds)
for bird in birds:
    if bird.startswith("c"):
        birds.remove(bird)
    else:
        pass
print("Birds after removing those that starts with 'c'",birds)
baskets=[2,2,2,1,2,1,3,3,1,2,2,2,2,1,3]
basket=str(baskets)
print(basket)
print("1pt occurs",basket.count("1"),"times")
print("2pt occurs",basket.count("2"),"times")
print("3pt occurs",basket.count("3"),"times")
print("Total points=",sum(baskets))

solid -is state of matter
liquid -is state of matter
gas -is state of matter
plasma -is state of matter
All birds: ['turkey', 'hawk', 'chicken', 'dove', 'crow']
Birds after removing those that starts with 'c' ['turkey', 'hawk', 'dove']
[2, 2, 2, 1, 2, 1, 3, 3, 1, 2, 2, 2, 2, 1, 3]
1pt occurs 4 times
2pt occurs 8 times
3pt occurs 3 times
Total points= 29